body{
	margin: 0px;
	background-color: #BBBBBB;
}
.verticalLine{
	width: 0.2%;
	position: absolute;
	height: 50%;
	background-color: #777777;
	top: 33%;
}
#firstline{
	left: 24.5%;
}
#secondline{
	left: 49.5%;
}
#thirdline{
	left: 74.5%;
}
.subSearchLists{
	width: 24.5%;
	position: absolute;
	height: 50%;
	top: 33%;
}
#first{
	left:0%;
	
}
#second{
	left:25%;
	
}
#third{
	left:50%;
	
}
#fourth{
	left:75%;
	
}
input{
	width:99%;
	border: 0;
}
form{
	position: absolute;
	top: 20%;
	left: 32.5%;
	width: 35%;
	height: 6%;
	box-shadow: 3px 3px 7px #666666;
	-webkit-transition: box-shadow 0.3s;
	border-radius: 2pt;
	padding: 0;
}
form:hover{
	box-shadow: 3px 3px 15px #666666;
}
input{
	font-size:20pt;
	height: 100%;
	font-family: 'Open Sans';
	font-weight: 300;
	background-color: #FFFFFF;
	color: #444444;
	border-radius: 2pt;
	padding:0;
	width:100%;
}
input:focus{
    outline: none;
}

h1{
	width:100%;
	margin-top: 2%;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 60pt;
	letter-spacing: 5px;
	color:#444444;
}
h2{
	width: 100%;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 30pt;
	margin-bottom: -1%;
	margin-top: -7%;
	color: #444444;
}
hr{
	width: 85%;
	background-color: #777777;
	height: 0.6%;
	border: none;
}

a {
	text-decoration: none;
	color: #444444;
}
ul{
	text-align: center;
	padding: 0;
	margin-top: 5%;
	font-family: 'Open Sans';
	font-size: 20pt;
	color: #444444;
	line-height: 250%;
	list-style-type: none;

}
ul li{
	-webkit-transition: color 0.25s, text-shadow 0.3s;
}
ul li:hover{
	color:#FFFFFF;
	text-shadow: 2px 2px 3px #666666;
}

}
li img{
	height: 50px;
	margin-bottom: -13px;
}
#pic1{
	position: absolute;
	top: 73%;
	left: 6%;
	height: 22%;
	opacity: 0.7;
}
#pic2{
	position: absolute;
	top: 72%;
	left: 30%;
	height: 25%;
}
#pic3{
	position: absolute;
	top: 74%;
	left: 55.4%;
	height: 20%;
	opacity: 0.7;
}
#pic4{
	position: absolute;
	top: 74%;
	left: 81%;
	height: 21%;

}
#first:hover{
	opacity: 1;
}
#plus{
	font-size: 30pt;
}
#salesBubble{
	background-color: #888888;
	position: absolute;
	height: 150px;
	width: 150px;
	top: -2%;
	left: -2%;
	border-radius: 100%;
	-webkit-transition: transform 0.3s, border-radius 0.5s, background-color 0.3s, border-color 0.3s;
	margin:0;
}
#salesBubble p{
	position: relative;
	text-align: right;
	-webkit-transition: transform 0.3s, display 0.3s, color 0.3s, text-shadow 0.3s;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #666666;
	font-size: 8pt;
	margin-left: 0%;
	right: 10%;
	top: 40%;
	display: none;
	margin: 0;
}
#salesBubble:hover{
	-webkit-transform: scale(2.5);
	border-radius: 2%;
	background-color: #BBBBBB;
	border-style: solid;
	border-width: 1pt;
	border-color: #888888;
}
#salesBubble p:hover{
	text-shadow: 2px 2px 3px #666666;
	color:#FFFFFF;
}
#salesBubble:hover p{
	display: block;
}
#salesBubble:hover img{
	opacity: 0;
}
#salesBubble img{
	position: absolute;
	height: 50%;
	left: 30%;
	top: 28%;
	opacity: 0.6;
	width: auto;
	display: inline-block;
	-webkit-transition: opacity 0.3s;
}
.horizontalRuler{
	width: 120%;
	height: 0.5%;
	background-color: #777777;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
}

#container a:hover + .horizontalRuler{
	opacity: 1;
}
#spacer1{
	height: 17%;
}
#spacer2{
	height: 2%;
}
#spacer3{
	height: 5%;
}
#borderBottom{
	height: 0.7%;
	background-color: #777777;
	width: 90%;
}
#borderRight{
	height: 86%;
	background-color: #777777;
	width: 0.7%;
	position: absolute;
	left: 100%;

}
#container{
	width: 70%;
	height: 62.8%;
}
.colorbox{
	position: absolute;
	height: 6%;
	width: 35%;
	border-radius: 2pt;
	opacity: 40%;
}
#cb1{
	background-color: #37779E;
	left: 33%;
	top: 19.5%;
}
#cb2{
	background-color: #21475E;
	left: 33.5%;
	top: 19%;
}
#cb3{
	background-color: #1D3E52;
	left: 34%;
	top: 18.5%;
}
